datacenter = "{{ nomad_client_install_datacenter }}"
region     = "{{ nomad_client_install_region }}"
data_dir   = "{{ nomad_client_install_data_dir | replace('\\', '/') }}"

client {
  enabled   = true
  state_dir = "{{ nomad_client_install_state_dir | replace('\\', '/') }}"
  alloc_dir = "{{ nomad_client_install_alloc_dir | replace('\\', '/') }}"
  alloc_mounts_dir = "{{ nomad_client_install_alloc_mounts_dir | replace('\\', '/') }}"
  servers   = ["{{ nomad_client_install_server_address }}:4647"]
}

{% if nomad_client_install_tls_enabled | bool %}
tls {
  http = true
  rpc  = true

  ca_file   = "{{ nomad_client_install_tls_ca_file | replace('\\', '/') }}"
  cert_file = "{{ nomad_client_install_tls_cert_file | replace('\\', '/') }}"
  key_file  = "{{ nomad_client_install_tls_key_file | replace('\\', '/') }}"

  verify_server_hostname = {{ (nomad_client_install_tls_verify_server_hostname | bool) | ternary('true', 'false') }}
  verify_https_client    = {{ (nomad_client_install_tls_verify_https_client | bool) | ternary('true', 'false') }}
  tls_min_version        = "tls12"
}
{% endif %}

{% if (nomad_client_install_enable_raw_exec | default(false) | bool) and (ansible_facts.get('os_family', '') == 'Windows') %}
plugin "raw_exec" {
  config {
    enabled = true
  }
}
{% endif %}
